<%- include('partials/header.ejs')%>
<%- include('partials/navbar-loggedin.ejs')%>


<div class="container-fluid">
    <div class="container">
<!-- Section One -->
<div class="section-1">
    <div class="dash-wrapper">
        <h2 class="text-center ">Welcome Back, <span class="username"><%= user%>!</span></h2>
        <div class="row justify-content-center">
            <div class="col-6">
            <div class="add-box-container ">
                <h4 class="text-center">ADD</h4>
    
                <form action="/symptom" method="GET">
                    <button type="submit" class="btn btn-block btn-light btn-lg" value="Add Symptom">Symptom</button>
                </form>
                <form action="/treatment" method="GET">
                    <button type="submit" class="btn btn-block btn-light btn-lg" value="Add Treatment">Treatment</button>
                </form>
                <form action="/doctor" method="GET">
                    <button type="submit" class="btn btn-block btn-light btn-lg" value="Add Doctor">Doctor</button>
                </form>
    
            </div>
            </div>
        </div>


    </div>

</div><!-- end section one -->


<!-- Section two -->
<div class="section-2">
    <div class="dash-wrapper">
        <h2 class="text-center">Insights</h2>

        <div class="row">

            <div class="col-4">
                <form>
                <button type='submit' class="btn btn-md btn-block btn-dark" formaction="/week" formmethod="GET">Week</button>
                </form>
            </div>
            <div class="col-4">
                <form>
                <button type='submit' class="btn btn-md btn-block btn-dark" formaction="/dashboard" formmethod="GET">30 Days</button>
                </form>
            </div>
            <div class="col-4">
                <form>
                 <button type='submit' class="btn btn-md btn-block btn-dark" formaction="/year" formmethod="GET">Past Year</button>
                </form>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-12">

                <div class="justify-content-center text-center" id="pain-result">
                    <h3 class="text-center">Average Pain Level <br> <strong class="info "> <%=average%> </strong></h3>
                    <br>
                    <p>

                        Total Days |<strong class="info "><%= days%> </strong>
                        <br>
                        Total numbers of Logs |<strong class="info "> <%=logs%></strong>
                        <br>
                        Average Pain Level | <strong class="info "> <%=average%> </strong>
                        <br>
                        Percentage of Logs |<strong class="info "> <%= percent%>%</strong> 

                    </p>


                </div>
            </div>
        </div>
        <div class="row text-center mt-2">
            <div class="col-6">
                        <%- include('partials/topBody-chart.ejs')%>
            </div>
            <div class="col-6">
                <%- include('partials/topPain-chart.ejs')%>
            </div>
        </div>


    </div>    
</div><!-- end section two -->


<!-- section three -->
    <div class="section-3">
        <div class="dash-wrapper">
            <h2 class="text-center">History</h2>
            <div class="row" id="buttons-one">

                <div class="col-4">
                    <form>
                    <button type='submit' class="btn btn-md btn-block btn-dark" formaction="/week" formmethod="GET">Week</button>
                    </form>
                </div>
                <div class="col-4">
                    <form>
                    <button type='submit' class="btn btn-md btn-block btn-dark" formaction="/dashboard" formmethod="GET">30 Days</button>
                    </form>
                </div>
                <div class="col-4">
                    <form>
                     <button type='submit' class="btn btn-md btn-block btn-dark" formaction="/year" formmethod="GET">Past Year</button>
                    </form>
                </div>
            </div>

            <div class="row mt-3">
            <div class="col-4">
                <h4 class="text-center history-box">Symptoms</h4>
                <div class="symptom-container history-box-container">
                        
                        <% symptom.forEach(function(el){ %>
                            <ul>
                            <li class="hello" data-id="<%=el._id%>">
                            
                                    Date Created: <strong> <%=el.created%></strong><br>
                                    Date Started: <strong><%=el.symptomDate%></strong><br>
                                    Pain Level: <strong><%=el.painlevel%></strong> <br>
                                    <span><i class="fas fa-trash-alt"></i></span> 
                                     
                            
                            </li>
                            </ul>
                            <% }) %>

                </div>
            </div>                
            <div class="col-4">
                <h4 class="text-center history-box">Treatments</h4>
                <div class="treatment-container history-box-container">
                    <% treatment.forEach(function(el){ %>
                        <ul>
                        <li><div class="hello"> Date Created: <strong> <%=el.created%></strong> <br>
                                Name: <strong> <%=el.treatment%> </strong>  <br>
                                Effectiveness: <strong><%=el.effective%></strong> <br>
                                Review: <strong><%=el.review%></strong> 
                                <br>
                                <span><i class="fas fa-trash-alt"></i></span> 
                        </div></li>
                        </ul>
                   <% }) %>
                </div>
            </div>

            <div class="col-4">
                <h4 class="text-center history-box">Doctors</h4>
                <div class="doctor-container history-box-container">
                    <% doctor.forEach(function(el){ %>
                        <ul>
                        <li><div class="hello"> Date Created: <strong> <%=el.created%></strong><br>  
                                Name: <strong> <%=el.name%> </strong> <br>
                                First Visit: <strong><%=el.startV%></strong> <br>
                                City: <strong><%=el.city%></strong> <br>
                                <span><i class="fas fa-trash-alt"></i></span> 
                        </div></li>
                        </ul>
                   <% }) %>
                </div>
            </div>


            </div>

        </div>
    </div>




    </div>
</div> <!-- closes main container-fluid -->








<%- include('partials/footer.ejs')%>
